<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Rotterdam!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="layout">
        <!-- Menu toggle -->

        <div id="nav-side-menu">
          <a class="menu-link">
            <i class="fa fa-bars"></i>
          </a>
          <a class="close">
            <i class="fa fa-close"></i>
          </a>

          <div class="pure-menu">
            <a class="pure-menu-heading" href="#">
              <i class="fa fa-anchor"></i> Rotterdam
            </a>

            <ul class="pure-menu-list">
              <li class="pure-menu-item">
                <a href="#" class="pure-menu-link"><i class="fa fa-cubes"></i> Nodes</a>
              </li>
              <li class="pure-menu-item">
                <a href="#" class="pure-menu-link"><i class="fa fa-arrows"></i> Services</a>
              </li>
              <li class="pure-menu-item">
                <a href="#" class="pure-menu-link pure-menu-selected"> Selected</a>
              </li>
              <li class="pure-menu-item pure-menu-disabled">
                <a href="#" class="pure-menu-link"> Disabled</a>
              </li>
            </ul>
          </div>
        </div>

        <main role="main">
          <a class="pure-button" href="#">A Pure Button</a>
          <button class="pure-button">Another Pure Button</button>

          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= render @view_module, @view_template, assigns %>
        </main>
    </div> <!-- Layout -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
