@import "modules/modules";

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  //background: rgba($light-grey, 0.2);
  color: $dark-grey;

  main {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
  }
}

.ui.top.fixed.inverted.menu {
  background-color: $dark-orange;
}
