@import "modules/modules";

$text-color: #e2e2e2;

.hidden,
[hidden] {
    display: none !important;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #2e3642;
  font-weight: 300;
  color: $text-color;

  main {
    padding-left: 4em;
    padding-top: 1em;
  }
}
