@import "modules/modules";

$text-color: #e2e2e2;

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #2e3642;
  //background: url('/images/noisy_net.png');
  font-weight: 300;
  color: $text-color;
}
