Swarm clusters
<%= for {name, active?} <- @clusters.swarm do %>
  <div>
  <%= if active? do %>
      <%= name %>
      <a href="#">Deactivate</a>
      <a href="<%= cluster_path(@conn, :status) %>">Status</a>
  <%= else %>
      <%= name %>
      <a href="<%= cluster_path(@conn, :activate, name) %>">Activate</a>
  <% end %>
  </div>
<% end %>
