$menu-width-value: 18;
$menu-width: #{$menu-width-value}em;
$mobile-break-point: 50em;
$menu-link-size: 1em;

$accent-color: #e24b31;
$background-color: #2e3642;
$text-color: #e2e2e2;
$dark-blue-color: #1d2837;
$selected-color: #ad4636;
// original background: #191818;


/*
Add transition to containers so they can push in and out.
*/
#layout, #nav-side-menu, .close {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#layout {
  position: relative;
  padding-left: 0;
  .active #nav-side-menu {
    left: $menu-width;
    width: $menu-width;
  }

}

#nav-side-menu {
  margin-left: -$menu-width;
  width: $menu-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: $accent-color;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  a.close {
    position: absolute;
    top: 0;
    left: #{$menu-width-value - 2}em;
    padding: 5px;
    display: block;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);

    &:hover {
      color: rgba(0,0,0,0.6);
    }

  }

  a.pure-menu-heading {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
  }

  ul.pure-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      .pure-menu-selected {
        background: $selected-color;
      }
      a {
        display: block;
        padding: 1em 1em 1em 1.2em;
        outline: none;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        color: $text-color;
        text-transform: uppercase;
        text-shadow: 0 0 1px rgba(255,255,255,0.1);
        letter-spacing: 1px;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;


        > i {
          margin-right: 20px;
          font-size: 20px;

          &:before {
            vertical-align: middle;
          }
        }

        &:hover, &:visited {
          background: $selected-color;
        }
      }

      &:first-child a {
        border-top: 1px solid rgba(0,0,0,0.2);
      }
    }
  }

}

.menu-link {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  color: white;
  background: rgba(0,0,0,0.6);
  width: $menu-link-size;
  height: $menu-link-size;
  padding: $menu-link-size $menu-link-size;

  &:hover, &:focus {
    color: rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.7);
  }

}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: $mobile-break-point) {

  #layout {
    padding-left: $menu-width;
    left: 0;
  }

  #nav-side-menu {
    left: $menu-width;
  }

}

@media (max-width: $mobile-break-point) {
  #layout.active {
    position: relative;
    left: $menu-width;
  }
  #nav-side-menu.active {
    left: $menu-width;
  }
}

