$menu-width-value: 18;
$menu-width: #{$menu-width-value}em;
$mobile-break-point: 50em;
$menu-link-size: 1em;

$accent-color: #e24b31;
$background-color: #2e3642;
$text-color: #e2e2e2;
$selected-color: #ad4636;


#layout, #nav-side-menu {
  transition: all 0.2s ease-out;
}

#nav-side-menu {
  margin-left: -$menu-width;
  width: $menu-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: $accent-color;
  overflow-y: auto;

  .close {
    display: block;
    position: absolute;
    left: #{$menu-width-value - 1.5}em;
    padding: 5px;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 2px 0 rgba(255,255,255,0.2);

    &:hover {
      color: rgba(0,0,0,0.6);
    }

  }

  .menu-link, .menu-heading {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .menu-heading {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.6);
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
  }

  .menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-link {
    display: block;
    padding: 1em;
    color: $text-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background 0.3s;

    &.selected {
      background: $selected-color;
    }

    &.disabled {
      pointer-events: none;
      cursor: default;
      color: rgba(255,255,255,0.4);
    }

    &:hover, &:focus {
      background: $selected-color;
    }

    i {
      margin-right: 8px;
      font-size: 20px;
    }

  }

}

#nav-side-menu .link {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  color: white;
  font-size: 1em;
  background: rgba(0,0,0,0.5);
  padding: $menu-link-size;

  &:hover, &:focus {
    background: rgba(0,0,0,0.8);
  }

}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: $mobile-break-point) {

  #layout {
    padding-left: $menu-width;
    left: 0;
  }

  #nav-side-menu {
    left: $menu-width;

    .link, .close {
      display: none;
    }
  }

}

@media (max-width: $mobile-break-point) {

  #layout.active {
    position: relative;
    left: $menu-width;
  }
  #nav-side-menu.active {
    left: $menu-width;
  }

}
